:root{
    --black: #222831;
    --gray: #31363F;
    --teal-color: #76ABAE;
    --white-color: #EEEEEE;
}

.mt-nav{
    background-color: var(--teal-color);
}

#mt-logo{
    width: 200px;
}

#map {
    width: 100%;
    height: 500px;
}

.mt-a{
    color: var(--teal-color);
}

.mt-a:hover{
    color: var(--gray);
    transition: 0.2s;
}